.loginbox {
  background: #f8f9fa;
  border-radius: 30px;
  padding: 3vw;
}
.form-signin {
  width: 100%;
  max-width: 530px;
  padding: 45px;
  margin: 0 auto;
}
.form-signin1{
  max-width: 530px;
  padding-right: 92px;
  margin: 0 auto;
  text-align: right;
  float: right;
}

.subtitle {
  color: #66ccff;
  margin-top: 4vh;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-weight: bolder;
}

.subtitle1 {
color: black;
margin-top: 4vh;
font-size: 11px;
padding-left: 27px;
padding-right: 53px;
/* padding-top: 25px; */
padding-bottom: 25px;
margin-bottom: 0;
font-weight: bolder;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.label {
  display: inline-block;
  margin-top: 0.5rem;
  float: left;
}
.ijm_logo {
  max-width: 50%;
  margin-top: 5vh;
}
.bg-login {
  background: url('src/assets/css/images/bgImage2.png');
  height: 100%;
  width: 100%;
  position: fixed;
}
/* .labelStyle{
  display: inline-block;
  margin-top: 0.5rem;
  float: left;
  font-family:Open sans-serif;
  color: blue;
  font-weight: bold;
} */
