.loginbox {
    background: white;
    border-radius: 30px;
    padding: 3vw;
}
.form-signin {
    width: 100%;
    max-width: 530px;
    padding: 45px;
    margin: 0 auto;
}
.subtitle {
    color: #66ccff;
    margin-top: 4vh;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    font-weight: bolder;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.label {
    display: inline-block;
    margin-top: 0.5rem;
    float: left;
}
.ijm_logo {
    max-width: 50%;
    margin-top: 5vh;
}