.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.left-menu{
background-color: #444359 !important;
flex: 0 0 250px;
height: 100vh;overflow-y: auto;padding: 8px;
}
.left-menu ul{width: 100%;}
.left-menu ul li{margin-bottom: 8px;}
.left-menu ul li a::after{float: right;}
.left-menu ul li a{color: #FFFFFF;font-size: 14px; cursor: pointer;font-weight: 200;padding: 8px 10px;}
.left-menu ul li a:hover{background-color: rgba(255, 255, 255, 0.075);border-radius: 4px;}
.second-level{padding-left: 15px;}
.second-level ul li a{font-size: 13px; padding: 8px 12px !important;display: block;text-decoration: none;}
.third-level ul li a i{margin-right: 8px;}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
@media screen and (min-width: 768px) {

}







.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}













.accordion {
  width: 100%;
  max-width: 360px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}

.accordion .menu {
  position: relative;
  padding: 15px 15px 15px 45px;
  color: #4d4d4d;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  /* right: 1rem; */
  /* left: auto; */
}

.accordion li.active i.fa {
  transform: rotate(180deg);
}

.accordion li.active .menu {
  color: #b63b4d;
}

.accordion li.active i {
  color: #b63b4d;
}

/* Show submenu */
.accordion li.active .submenu {
  /*
    height: 0 -> height: auto;는 transition이 동작하지 않는다.
    max-height: 임의의 높이;를 지정하면 transition이 동작하지만 타이밍이 망가진다.
    max-height: 1000px;과 max-height: 133px;을 비교해 보라!
    height를 1000px으로 transition할 시간에 실제로는 133px정도만 transition하므로 여는 시간이 닫는 시간보다 빠르다.
  */
  /* max-height: 1000px; */
  /* max-height: 133px; */
}

.submenu {
  height: 0;
  overflow: hidden;
  background: #444359;
  font-size: 14px;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}

