
<!-- https://codepen.io/n3k1t/pen/OJMGgyq -->


<div class="row mt-3">
  <div class="col-md-8 d-flex ">
    <div class="">
      <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>     Add</button>
    </div>
    <div class="col-md-2 pl-2">
      <select class="form-control ">
        <option selected>select status</option>
        <option value="1">Open</option>
        <option value="2">Planned</option>
      </select>
    </div>
  </div>

  <div class="input-group mb-3 col-md-2 pull-right">
    <input type="text" class="form-control" placeholder="Search" >
    <!-- <div class="input-group-append">
      <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div> -->
  </div>

</div>


<div class="mt-2">
	<div class="col-md-11" style="padding-right: 8rem!important;">
    	<div class="panel panel-default">
				<!-- <div class="panel-heading">
					Employee
				</div> -->
        <div class="common-table panel-body">
					<table class="table table-condensed table-striped">
    <thead>
        <tr>
          <th>Fist Name</th>
          <th>Last Name</th>
          <th>Status</th>
          <th>More</th>
          <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td style="color: blue;"><u>mispeled</u></td>
            <td>Mathias</td>
            <td>Open</td>
            <td data-toggle="collapse" data-target="#demo1" class="accordion-toggle"><i class="fa fa-ellipsis-h"></i></td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-trash-o" aria-hidden="true" style="padding-left:15px;"></i>
            </td>
        </tr>
        <tr>
            <td colspan="12" class="hiddenRow">
							<div class="accordian-body collapse ml-3 mr-3 pt-2 pb-2" id="demo1">
                  <div class="bg-white extra-table-content">
                    <div class="row">
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Vessel Size</div>
                          <div class="field-value text-left">Asdsadss</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Vessel Type</div>
                          <div class="field-value text-left">type</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Shipping Agent</div>
                          <div class="field-value text-left">Agent</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Loa</div>
                          <div class="field-value text-left">loa</div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Grt</div>
                          <div class="field-value text-left">grt</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Last Port</div>
                          <div class="field-value text-left">grt
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Next Port</div>
                          <div class="field-value text-left">grt
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Final Port</div>
                          <div class="field-value text-left">grt
                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Created By</div>
                          <div class="field-value text-left">grt</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Created Date</div>
                          <div class="field-value text-left">grt</div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Modified By</div>
                          <div class="field-value text-left">grt</div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-3">
                        <div>
                          <div class="label-title text-left">Modified Date</div>
                          <div class="field-value text-left">grt</div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </div>
                  </div>
              </div>
          </td>
        </tr>



        <tr>
             <!-- <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td> -->
            <td style="color: blue;"><u>Silvio</u></td>
            <td>Santos</td>
            <td>Planned</td>
            <td data-toggle="collapse" data-target="#demo2" class="accordion-toggle"><i class="fa fa-ellipsis-h"></i></td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-trash-o" aria-hidden="true" style="padding-left:15px;"></i>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow">
              <div class="accordian-body collapse ml-3 mr-3 pt-2 pb-2" id="demo2">
                <div class="bg-white extra-table-content">
                  <div class="row">
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Vessel Size</div>
                        <div class="field-value text-left">HANDYMAX</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Vessel Type</div>
                        <div class="field-value text-left">type</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Shipping Agent</div>
                        <div class="field-value text-left">Agent</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Loa</div>
                        <div class="field-value text-left">loa</div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Grt</div>
                        <div class="field-value text-left">grt</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Last Port</div>
                        <div class="field-value text-left">grt
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Next Port</div>
                        <div class="field-value text-left">grt
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Final Port</div>
                        <div class="field-value text-left">grt
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Created By</div>
                        <div class="field-value text-left">grt</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Created Date</div>
                        <div class="field-value text-left">grt</div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Modified By</div>
                        <div class="field-value text-left">grt</div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-3">
                      <div>
                        <div class="label-title text-left">Modified Date</div>
                        <div class="field-value text-left">grt</div>
                      </div>
                    </div>

                    <div class="clearfix"></div>
                  </div>
                </div>
            </div>
          </td>
        </tr>


        <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
            <!-- <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td> -->
            <td style="color: blue;"><u>John</u></td>
            <td>Doe</td>
            <td>Planned</td>
            <td><i class="fa fa-ellipsis-h"></i></td>
            <td>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <i class="fa fa-trash-o" aria-hidden="true" style="padding-left:15px;"></i>
            </td>
            <!-- <td> New</td> -->
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3 sadasdasdasdasdas</div></td>
        </tr>
    </tbody>
</table>
            </div>

          </div>

      </div>
	</div>

