<!-- https://codepen.io/n3k1t/pen/OJMGgyq -->

<div class="action-bar">
  <div class="row align-items-start pl-2">
    <div class="col-md-10 form-inline" style="font-size: 18px;font-weight: bold;color: #3398e5;"> Add User Group </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="common-table panel-body" style="padding: 12px;">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-4">
        <label class="label-title required">First Name</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="First Name">
      </div>
      <div class="col-4">
        <label class="label-title">Last Name</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Last Name">
      </div>
      <div class="col-4">
        <label class="label-title required">Status</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Status">
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-4">
        <label class="label-title required">Vessel Size</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Vessel Size">
      </div>
      <div class="col-4">
        <label class="label-title required">Vessel Type</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Vessel Type">
      </div>
      <div class="col-4">
        <label class="label-title">Shipping Agent</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Shipping Agent">
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-4">
        <label class="label-title required">Grt</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Grt">
      </div>
      <div class="col-4">
        <label class="label-title">Last Port</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Last Port">
      </div>
      <div class="col-4">
        <label class="label-title">Next Port</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Next Port">
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-4">
        <label class="label-title required">Final Port</label>
        <input type="text" class="form-control form-control-sm placeholder-title" placeholder="Final Port">
      </div>
    </div>



  </div>
    <div class="" style="background-color: #e9e5e5;padding: 30px">
     <div class="pull-right" style="margin-top: -18px;">
      <button type="button" class="btn btn-secondary mr-2" routerLinkActive="active" routerLink="/core/admin/userGroup">Cancel</button>
      <button type="button" class="btn btn-primary">Save</button>
     </div>
    </div>
</div>
